/* 회원가입 페이지 위치설정 */
.sign-main1 {
  display: flex;
  width: 1920px;
  padding: 231px 640px 284px 640px;
  justify-content: center;
  align-items: center;
}

/* 회원가입 전체 박스 설정 */
.sign-main2 {
  display: flex;
  width: 640px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  flex-shrink: 0;
}
/* 판다마켓 위치설정 */
.imggps {
  display: flex;
  width: 640px;
  align-items: center;
  gap: 40px;
  flex-shrink: 0;
  justify-content: center;
}
/* 판다마켓 이미지 사이즈*/
.imgsize1 {
  width: 103.529px;
  height: 103.88px;
}
/* 판다마켓 글씨 */
.padaname {
  color: var(--brand-blue, #3692ff);
  font-family: "ROKAF Sans";
  font-size: 66.344px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* 이메일, 닉네임, 비밀번호, 비밀번호확인 갭 */
.signupmain {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}
/* 포커스 인 아웃 */
input:focus {
  border: 1px solid #3692ff;
  outline: none;
}
/* 이메일, 닉네임, 비밀번호, 비밀번호확인 이름 */
.entername {
  color: var(--Secondary-800, #1f2937);
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
}
/* 이메일, 닉네임, 비밀번호, 비밀번호확인 입력칸 */
.enter {
  display: flex;
  width: 640px;
  height: 56px;
  padding: 16px 24px;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  background: var(--Cool-Gray-100, #f3f4f6);
  color: var(--Cool-Gray-800, #1f2937);
  border: 0px;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}
/* 회원가입 버튼 */
.signupbutton {
  display: flex;
  width: 640px;
  height: 56px;
  padding: 16px 124px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  border-radius: 40px;
  background: var(--Secondary-400, #9ca3af);
  color: var(--Cool-Gray-100, #f3f4f6);
  text-align: center;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  border: 0px;
}
/* 회원가입 버튼 포커스 */
.signupbutton:focus {
  background: var(--Primary-100, #3692ff);
}

/* 간편로그인 칸 */
.simplelogin1 {
  display: flex;
  width: 640px;
  height: 74px;
  padding: 16px 23px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 8px;
  background: #e6f2ff;
}
.simplelogin2 {
  display: flex;
  width: 594px;
  justify-content: space-between;
  align-items: center;
}
/* 간편 로그인 글씨 */
.simplelogin-name {
  color: var(--Secondary-800, #1f2937);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}

/* 구글이미지 사이즈 */
.googleimg {
  width: 42px;
  height: 42px;
}
/* 카카오톡 이미지 사이즈 */
.kakaotalkimg {
  width: 26px;
  height: 24px;
}
.kakaotalkback {
  background-color: yellow;
  border-radius: 40px;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 갭주기 */
.gap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}
/* 로그인 위치 설정 */
.login {
  display: flex;
}
/* 로그인 글씨 */
.loginname {
  color: var(--Secondary-800, #1f2937);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
/* 로그인 링크 */
.loginlink {
  color: var(--Primary-100, #3692ff);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
