:root {
  --Cool-Gray-100: #f3f4f6;
  --Secondary-900: #111827;
  --Secondary-800: #1f2937;
  --Secondary-700: #374161;
  --Secondary-400: #9ca3af;
  --Secondary-200: #e5e7eb;
  --Primary-100: #3692ff;
}

body {
  font-size: 1rem;
}
